body {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.col-md-5 {
    margin-top: 10rem !important;
    background-color:whitesmoke;  
}

h1 {
    text-align: center; 
    font-weight: bolder !important;
    margin: 1.5rem !important;
}

input {
    display: inline !important;
    border: 2px solid black !important;
    width: 85% !important;
    margin-bottom: 1rem !important;
}

button {
    margin-left: 10px !important;
}

ul {
    list-style: none;
}

li {
    font-size: 20px; 
    display: inline;
}

i {
    color: red;
    margin: 10px;
    font-size: 36px !important;
}