* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: 60vh;
    display: flex;
    flex-direction: center;
    align-items: center;
    background: rgb(75,131,130);
    background: linear-gradient(90deg, rgba(75,131,130,1) 0%, rgba(169,241,220,1) 35%, rgba(0,212,255,1) 100%); 
}
.container {
    border: 4px solid black;
    border-radius: 0.5rem;
    width:30%;
    margin: auto;
    text-align: center;
}

.btns {
    display: flex;
    justify-content: center;
}

.btn {
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    padding: 0.5rem;
    margin: 1rem;
}

.btn-increment {
    background: green;
    color: white;
}

.btn-decrement {
    background: red;
    color: white;
}

.btn-reset {
    background: blue;
    color: white;
}